---
import { ME } from "../../lib/constants";
import Card from "../Card.astro";
---

<Card
  colSpan="md:col-span-2 lg:col-span-1 xl:col-span-1"
  rowSpan="md:row-span-6 lg:row-span-2"
  title="About me"
>
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm {ME.firstName}, a fullstack software developer from {ME.country}.
      <br />
      <br />
      My primary tools of choice includes:
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>React</li>
        <li>SQL</li>
        <li>Nodejs</li>
        <li>Nextjs</li>
        <li>express</li>
        <li>Docker</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      I am passionate about all things technology, with a strong interest in
      travel, Food, and video games.
    </p>
  </div>
</Card>
