---
import { LINKS, ME } from "../../lib/constants";
import Card from "../Card.astro";
import { Button } from "../ui/button";
import { Github, Linkedin, Mail } from "lucide-react";
---

<Card colSpan="md:col-span-4" rowSpan="md:row-span-4 lg:row-span-1">
  <div class="flex h-full w-full">
    <div class="flex flex-col justify-between gap-4 md:max-h-[300px]">
      <div class="flex h-full flex-col">
        <h6 class="m-0 text-sm font-light text-gray-500">Welcome</h6>
        <p>
          Hi, I'm
          <b class="font-bold">{ME.fullName}</b>, a software developer with a
          strong background in IT support. I’m passionate about technology and
          enjoy tackling new challenges that lead to practical, user-focused
          solutions.
        </p>
        <br />
        <p>
          With over five years of experience in the tech industry, I’ve built a
          solid foundation in troubleshooting and supporting end-users across
          both onsite and remote environments. Building on this experience, I’ve
          expanded into software development, completing an AUT-accredited
          Certificate in Software Engineering and gaining hands-on experience
          designing and implementing full-stack applications.
        </p>
        <p>
          I enjoy building functional, user-centred software and am keen to grow
          in a Junior Software Developer role. I bring a strong problem-solving
          mindset, real-world technical experience, and a genuine commitment to
          learning and continuous improvement.
        </p>
      </div>
      <div>
        <a href={LINKS.github} aria-label="GitHub profile" target="_blank">
          <Button aria-label="GitHub profile">
            <Github />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkedin profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Linkedin />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
        <a href={LINKS.mail} aria-label="Mail profile" target="_blank">
          <Button aria-label="Mail profile">
            <Mail />
            <span class="sr-only">Email contact</span>
          </Button>
        </a>
      </div>
    </div>

    <!-- <img
      width="300"
      height="300"
      src="/me.png"
      class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
      alt=""
    /> -->
  </div>
</Card>
