---
import { LINKS, ME } from "../../lib/constants";
import Card from "../Card.astro";
import { Button } from "../ui/button";
import { Github, Linkedin, Mail } from "lucide-react";
---

<Card colSpan="md:col-span-4" rowSpan="md:row-span-4 lg:row-span-1">
  <div class="flex h-full w-full">
    <div class="flex flex-col justify-between gap-4 md:max-h-[300px]">
      <div class="flex h-full flex-col">
        <h6 class="m-0 text-sm font-light text-gray-500">Welcome</h6>
        <p>
          Hi, I'm
          <b class="font-bold">{ME.fullName}</b>, a software developer, I am
          passionate about technology and I am always looking for new
          challenges.
        </p>
        <br />
        <p>
          With over 5 years of experience in the tech industry, I have developed
          a strong foundation in troubleshooting and providing technical
          assistance to end-users both onsite and remotely. Building on this
          experience, I am now expanding into software development, leveraging
          the skills gained through an AUT-accredited Certificate in Software
          Engineering, where I have acquired hands-on experience in designing
          and implementing software solutions.
        </p>
        <p>
          I am passionate about building functional, user-centered software and
          am eager to apply my technical expertise and newly acquired software
          development skills in a Junior Developer role. I am excited to bring
          my problem-solving mindset and dedication to learning to a dynamic
          development team.
        </p>
      </div>
      <div>
        <a href={LINKS.github} aria-label="GitHub profile" target="_blank">
          <Button aria-label="GitHub profile">
            <Github />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkedin profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Linkedin />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
        <a href={LINKS.mail} aria-label="Mail profile" target="_blank">
          <Button aria-label="Mail profile">
            <Mail />
            <span class="sr-only">Email contact</span>
          </Button>
        </a>
      </div>
    </div>
    <!-- <img
      width="300"
      height="300"
      src="/me.png"
      class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
      alt=""
    /> -->
  </div>
</Card>
