---
import { ModeToggle } from "../components/ui/ThemeToggle";
import { buttonVariants } from "../components/ui/button";
import { ME, LINKS } from "../lib/constants";
---

<script is:inline>
  document.addEventListener("astro:after-swap", function () {
    if (localStorage.getItem("theme") == "dark")
      document.documentElement.classList.toggle("dark", true);
  });

  const getThemePreference = () => {
    return localStorage.getItem("theme");
  };

  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");
</script>

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div
    class="container flex h-16 items-center justify-between space-x-4 sm:space-x-0"
  >
    <div class="flex items-center gap-6 md:gap-10">
      <a href="/" class="flex items-center space-x-2">
        <span class="inline-block font-bold">{ME.fullName}</span>
      </a>
      <a href="/portfolio">
        <span class="inline-block font-bold">Portfolio</span>
      </a>
      <a href="/work">
        <span class="inline-block font-bold">Work</span>
      </a>
    </div>
    <div class="flex items-center gap-6 md:gap-10">
      <nav class="flex items-center space-x-4">
        <a
          href={LINKS.github}
          target="_blank"
          rel="noreferrer"
          class={buttonVariants({ variant: "ghost" })}>GitHub</a
        >
        <ModeToggle transition:persist client:load />
      </nav>
    </div>
  </div>
</header>
